<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hour Logger Application</title>
    </head>

    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    <body>
        <%- include('common/header'); -%>
        <!-- Dropdown menu allowing the user to select which job to view hours done
        once selected a table will be generated with the date and hours logged for that job -->
        <section style="padding: 50px;"></section>

        <% if (message) {   %> 
            <div class="row justify-content-md-center">
              <div class="alert alert-primary" role="alert">
                    <%= message %>
              </div>
            </div>
        <% } %>

        <div class="dropdown">

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Saved Jobs
            </button>
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if(jobs.length > 0) { %>
                    <% jobs.forEach(job => { %>      
                        <a class="dropdown-item" href="/view/<%= job._id %>"><%= job.name %></a>
                    <% }); %>
                <% } else { %>
                    <a class="dropdown-item" href="/create-job">Add a new Job</a>
                <% } %>
            </div>
        </div>

        <section style="padding: 25px;"></section>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Hours Worked</th>
                    <th>Edit/Remove</th>
                </tr>
            </thead>
            <tbody>
                <% if (trackers.length > 0) { %>
                    <% trackers.forEach(tracker => { %>
                        <tr>
                            <td><%= tracker.date %></td>
                            <td><%= tracker.startTime %></td>
                            <td><%= tracker.endTime %></td>
                            <td><%= tracker.totalHours %></td>
                            <td>
                                <button type="button" class="btn btn-secondary" href="/edit/<%= tracker._id %>">EDIT/REMOVE</button>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td>Example!</td>
                        <td>Example!</td>
                        <td>Example!</td>
                        <td>Example!</td>
                    </tr>
                    <tr>
                        <td>12/01/2022</td>
                        <td>17:00</td>
                        <td>22:00</td>
                        <td>5 hours</td>
                    </tr>
                <% } %>
                <% if (trackers.length > 0) { %>
                    <tr>
                        <td>Total Hours</td>
                        <td></td>
                        <td></td>
                        <td><%= totalHours %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </body>

    <script type="text/javascript" src="scripts/jobSelector.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>