<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Stats</title>

        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <%- include('common/header'); -%>
        <section style="padding: 25px;"></section>
        <section style="padding: 25px;"></section>

        <div class="container">
            <div class="row">
                <div class="col align-self-start">
                    <table class="table TotalEarningsTable">
                        <thead>
                            <tr>
                                <th class="text-center">Total Days Worked</th>
                                <th class="text-center">Total Earnings</th>
                                <th class="text-center">Total Earnings (Month)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><%= totalDaysWorked %></td>
                                <td class="text-center"><%= totalEarned %></td>
                                <td class="text-center"><%= monthEarned %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col align-self-end">
                    <div class="card" style="width: 18rem; margin: auto;">
                        <div class="card-body text-center">
                        <h5 class="card-title"><%= user.email %></h5>
                        <a href="#" class="btn btn-secondary ">Update User Details</a>
                        <br><br>
                        <a href="#" class="btn btn-danger ">Delete Account!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section style="padding: 25px;"></section>
        <section style="padding: 25px;"></section>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Job Name</th>
                    <th class="text-center">Rate</th>
                </tr>
            </thead>
            <tbody id="trackerItems">
                <% if (jobs.length > 0) { %>
                    <% jobs.forEach(job => { %>
                        <tr>
                            <td class="text-center"><%= job._id %></td>
                            <td class="text-center"><%= job.name %></td>
                            <td class="text-center"><%= job.rate %></td>
                            <td class="text-center">
                                <a href="/edit/<%= job._id %>" class='btn btn-secondary btn-xs'>
                                  Edit
                                </a> 
                                <a  href="/delete/<%= job._id %>" class="btn btn-danger btn-xs">
                                  Remove
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td class="text-center">NO</td>
                        <td class="text-center">Jobs</td>
                        <td class="text-center">Found</td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </body>
    
    <script type="text/javascript" src="scripts/jobSelector.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>